<h1 class="about">About</h1>
<p>
  ながのCAKEは全国配送可能なケーキ屋さん</br>
  子供からお年寄りの方までお召し上がりいただけるよう、</br>
  さまざまなバリエーションを用意しております。</br>
  また、全国へ発送可能ですので「いつ」でも、「どこ」でもご注文いただけます</br>
  ぜひご注文ください
</p>
 <%= image_tag "/images/cake1.jpg"%>