<div "container">
    <div class='row'>
        <div class='col-8 offset-2'>
            <h1 class="d-flex align-items-end justify-content-center" style="height:300px;">注文ありがとうございました！</h1>
        </div>
    </div>
</div>